DB_HOST=elearning-db.cmdi4asyc4oq.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=elearning_db
DB_USERNAME=admin
DB_PASSWORD=CHANGE_ME

AWS_REGION=us-east-1
AWS_S3_BUCKET=elearning-cloud-project-2026
AWS_ACCESS_KEY_ID=CHANGE_ME
AWS_SECRET_ACCESS_KEY=CHANGE_ME

JWT_SECRET=CHANGE_ME

MAIL_USERNAME=kalubowilaamada20@gmail.com
MAIL_PASSWORD=CHANGE_ME
ADMIN_EMAIL=amadakalubowila@gmail.com
